.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  }
  
  .title img {
    height: 150px;
    width: auto;
    margin-right: 10px;
  }

.desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
  }

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.alert {
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: auto;
    max-width: 300px;
    max-height: 50px;
    margin-bottom: 20px;
  }

.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.row {
  text-align: center;
}